.shop {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("./background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.shop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.125);
    position: fixed;
    top: 0;
    padding: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 1.5rem;
}

.shop-nav .logo img {
    width: 3rem;
    height: 3rem;
}

.shop-container {
    color: var(--text-color);
    min-width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 60vw;
    gap: 0;
}

.search input {
    /* max-width: % !important; */
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: var(--text-color);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: 0;
}

.search input:focus {
    outline: none;
    box-shadow: 0 0 1rem #44C139;
}

.search input:hover {
    box-shadow: 0 0 1rem #44C139;
}

.search button {
    border-radius: 0rem;
    height: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    float: right;
    margin: 0;
}

.shop-container .medicines-row {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0;
}

.shop-container h2 {
    text-align: center;
}

.shop-container p { 
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}



.action {
    position: fixed;
    top: 20px;
    right: 30px;
  }
  
  .action .profile {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .action .profile img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu {
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    color: var(--main-color);
    font-weight: 500;
    box-shadow: 0 0 1rem #44C139;
  }
  
  .action:hover .menu {
    top: 80px;
    visibility: visible;
    opacity: 1;
  } 
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.5em;
  }
  
  .action .menu h3 span {
    font-size: 14px;
    color: #cecece;
    font-weight: 300;
  }
  
  .action .menu ul li {
    list-style: none;
    padding: 8px 0;
    border-top: 1px solid rgba(158, 154, 154, 0.589);
    display: flex;
    align-items: center;
  }
  
  .action .menu ul li a i {
    max-width: 20px;
    margin-right: 10px;
  }
  
  .action .menu ul li:hover img {
    opacity: 1;
  }
  
  .action .menu ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: var(--main-color);
  }




@media only screen and (max-width: 768px) {
  .shop-nav {
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.search {
    min-width: 60;
    margin-right: 8rem; 
}

.search input {
    max-width: 100%; 
    margin-right: 0;
}

.search button {
    width: 40px; 
    padding-right: 2.5rem;
}

  .shop-container .medicines-row {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  .shop-nav {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
  }

  .search input {
      width: 100%;
      margin-right: 0;
  }

  .search button {
      width: 100%;
      padding-right: 2.3rem;
  }

  .shop-container {
      padding: 1rem;
  }

  .shop-container h2,
  .shop-container p {
      text-align: center;
  }

  /* Stack Medicine components */
  .medicines-row {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}


  

@media only screen and (max-width: 1200px) {
  .shop-nav {
      padding-left: 2rem;
      padding-right: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .search {
      min-width: 60;
      margin-right: 8rem; /*search bar shrink */
  }

  .search input {
      max-width: 100%;
      margin-right: 0;
  }

  .search button {
      width: 40px; /*adjust width of the search button*/
      
  }

  .action {
      display: flex;
      align-items: center;
      margin-left: auto; 
  }

  .action .profile {
      width: 40px;
      height: 40px;
      margin-right: 10px;
  }

  .action .profile img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }
}




