.card {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 15rem !important;
}

#dev-div {
  color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    /* background: #6AFF8B; */
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    /* border: 1px solid rgba(255, 255, 255, 0.125); */
    /* margin: 2rem; */
    padding: 4rem 2rem;
    padding-bottom: 0;
    height: 22rem !important;
    width: 15rem !important;
    cursor: default;
}
  
  #dev-div h3 {
    font-size: 2rem;
  }
  #dev-div h4 {
    font-size: 1rem;
  }
 
  #dev-img{
    position: relative;
    bottom: -3rem;
    /* left: -1.8rem; */
    z-index: 10;
  }

  #dev-img img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  #dev-div .socials ul {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
    align-items: center;
    padding-left: 0;
    justify-content: space-around;
    color: var(--text-color);
  }

  #dev-div .socials ul li {
    list-style: none;
  } 

  #dev-div .socials ul li a {
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 1.5rem;
  }

  #dev-div .socials ul li a:hover {
    transform: translateZ(2rem);
  }

  #dev-div:hover {
    /* transform: translateZ(2rem); */
    box-shadow: 0 0 1rem #44C139;
  }

  @media only screen and (max-width: 1028px) {
    .card {
        transform: translateY(-4rem);
        margin-top: 5rem;
        width: 15rem !important;
    }
  }