
#theteam{
    background-color: #1b2430f5;
}

#team {
    color: #fff;
    text-align: center;
    font-family: Concert One;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5rem;

  }
  
  
  
  
  #devdiv {
    align-items: center;
    border-radius: 30px;
    border: 3px solid #000;
    background: var(--Theme-colour, #6AFF8B);
    margin: 2rem;
    padding-top: 5rem;
    width: 20rem;
    padding-bottom: 5rem;
  }
  
  #devnames {
    color: #000;
    text-align: center;
    font-family: Dangrek;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
  }
 
 
  #devimg{
    position: relative;
    bottom: -5.5rem;
  }

  #teamrow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }