#team{
  min-height: 100vh;
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: center;
  gap: auto;
}

#team h1 {
  font-size: 3rem;
  color: var(--text-color);
}

#team .team-row {
  width: 100%;
  /* margin-right: 10rem; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  transform: translateY(-3rem);
}

@media only screen and (max-width: 1028px) {
  #team {
      padding-top: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
  }

  #team .team-row {
    margin-right: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0;
  }
}

@media only screen and (max-width: 768px) {
  #team {
    padding-top: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0rem;
  }

  #team .team-row {
    margin-right: 0.25rem;
    display: grid;
    grid-template-columns: auto;
    margin-top: 2rem;
  }
}