.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav .logo img {
    width: 3rem;
    height: 3rem;
}

h1 {
	font-weight: bold;
	margin: 0;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    position: relative;
}

h1::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 50%;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

a, .predict span  {
	color: var(--sec-color);
	font-size: 14px;
	text-decoration: none;
	margin: 10px 0;
    display: inline;
}

.forgot {
    text-align: right;
    display: block;
    width: 100%;
}

a:hover {
    color: var(--main-color);
}

button {
	cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    color: #fff;
    line-height: 1.5;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 2rem;
    transition: 0.3s ease;
    background: #44C139;
    border: .2rem solid #44C139;
    box-shadow: 0 0 1rem #44C139;
    margin-right: 1rem;
    transition: 0.3s ease;
}

button:hover { 
    box-shadow: none;
}

form {
    color: var(--text-color);
	backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 3rem 4rem;
	min-height: 50vh;
    min-width: 50vw;
	text-align: center;
    border-radius: 2rem;
    padding-bottom: 2rem;
}

input, select {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    font-size: 1rem;
}

input[type="checkbox"] {
    padding: 0;

}

body {
    background-image: url("./side-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) { 
    form {
        margin-top: 3rem;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1.5rem;
    }

    .container { 
        width: 100%;
        align-items: flex-start;
    }

}





 .checkbox-wrapper-1 {
    display: flex;
    justify-content: space-between;
 }
  .checkbox-wrapper-1 *,
  .checkbox-wrapper-1 ::after,
  .checkbox-wrapper-1 ::before {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
    background-color: #3B99FC;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
    background-color: #0a7ffb;
    color: rgba(0, 0, 0, 0.275);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
    opacity: 0.5;
  }

  .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
  }

  .check-list-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
  }


  .check-list {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 3rem;
  }