#about {
    min-height: 100vh;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
    color: white;
}

#about h1 {
    font-size: 3rem;
    color: var(--text-color);
}

#about .about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem;
    /* background-color: #6AFF8B; */
    box-shadow: 0 0 1rem #44C139;
    background: rgba( 68, 193, 57, 0.58 );
    backdrop-filter: blur( 2.8px );
    -webkit-backdrop-filter: blur( 2.8x );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 2rem;
    border: .2rem solid transparent;
    transition: 0.3s ease;
}

#about .about-desc h3 {
    font-size: 2rem;
}

#about .about-desc p {
    text-align: justify;
    font-size: 1.3rem;
}

#about .services {
    display: flex;
    gap: 1rem;
}

#about .about-desc button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    color: #fff;
    line-height: 1.5;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 2rem;
    transition: 0.3s ease;
    background: #44C139;
    border: .2rem solid #44C139;
    box-shadow: 0 0 1rem #44C139;
    margin-right: 1rem;
    transition: 0.3s ease;
}

#about .about-desc:hover {
    border: .2rem solid #44C139;
    box-shadow: 0 0 1rem #44C139;
    transform: translateZ(2rem);
}

@media only screen and (max-width: 1028px) {
    #about {
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #about .about-desc { 
        margin-top: 2rem;
    }

}

@media only screen and (max-width: 768px) {
    #about .services {
        flex-direction: column;
    }
}