footer {
    display: block;
    background-color: var(--sec-bg-color);
    color: var(--text-color);
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 2rem;
    margin-bottom: 0;
}

footer h5 {
    padding-top: 5px;
}