.wrapper {
    width: var(--width);
    margin: auto;
}


.footer {
    padding: 2rem 10rem;
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: column;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer_top_list {
    flex: 25%;
}

.footer_top_list:not(:last-of-type) {
    margin-right: 20px;
}

.footer_top_list h5 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--grey-light);
}

.footer_top_list ul {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.footer_top_list ul li {
    margin-bottom: 10px;
}

.footer_top_list ul li a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    line-height: 20px;
    transition: text-decoration 0.2s ease;
}

.footer_top_list ul li a:hover {
    text-decoration: underline;
}

.footer_middle {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding: 9px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--grey);
}

.footer_middle_left,
.footer_middle_right {
    display: flex;
    align-items: center;
}

.footer_middle_left h5,
.footer_middle_right h5 {
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer_middle_left_list,
.footer_middle_right_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_icons {
    border-radius: 50%;
    border: 1px solid var(--grey-light-2);
    width: 30px;
    height: 30px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.footer_icons:hover {
    background-color: var(--grey);
}

.footer_icons img {
    filter: var(--svg-white);

    height: 14px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 400;
}

.footer_bottom p {
    padding-right: 30px;
    margin-right: 30px;

    border-right: 1px solid var(--white);
}

.footer_bottom_list {
    display: flex;
    align-items: center;
}

.footer_bottom_list li {
    margin-right: 20px;
}

.footer_bottom_list a {
    margin-right: 20px;
    color: white;
}



/*Header css end*/
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap");

:root {
    /*color*/
    --primary: #14a800;
    --primary-dark: #3c8224;
    --primary-dark-2: #5e6d55;
    --primary-dark-3: #e4ebe4;
    --primary-dark-4: #13544e;
    --primary-light: #e9f7e5;
    --primary-light-2: #f2f7f2;
    --black-green: #001e00;
    --red: #bc511b;
    --grey: #5e6d55;
    --grey-light: #d5e0d5;
    --grey-light-2: #9aaa97;
    --grey-light-3: #e4ebe4;
    --white: #fff;
    --blue: #1f57c3;
    --blue-dark: #254d97;
    --stone-pink: #a18085;
    --width: 1140px;
    --input-height: 40px;
    --input-radius: 20px;
    --input-form-width: 300px;

    --svg-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(9deg) brightness(103%) contrast(103%);
}








@media only screen and (max-width: 768px) {

    .wrapper {
        width: 100%;
    }

}

@media only screen and (max-width: 768px) {
    .title-1 {
        font-size: 36px;
    }

    .title-3 {
        font-size: 18px;
    }

    .title-4 {
        font-size: 14px;
    }


}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 40px 20px;
    }

}


#firstslideh2 {
    color: white;
}
  
@media only screen and (max-width: 768px) {
    .footer_bottom_list { 
        flex-direction: column;
        font-size: 1rem;
    }    
}