.predict {
  min-height: 100vh;
  min-width: 100vh;
  background-image: url("./bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
  display: flex;
  gap: 1rem;
}


.predict .container form {
  /* margin-top: 4rem; */
  border-radius: 1px;
  min-width: 100vw;
  backdrop-filter: none;
    background-color: rgba(17, 25, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding-top: 1rem;
  min-height: 100vh;
}

.predict .container form h1 {
  padding-top: 4rem;
}

.medicines-row {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 4rem;
}


.loader {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid;
  border-color: var(--main-color) transparent;
  animation: spin 1s infinite ease-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* added by gokul */
.predict button {
  display: block;
  margin: 2rem auto;
}

@media only screen and (max-width: 1200px) {
  .medicines-row {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .check-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .checkbox-wrapper-1 {
    flex: 0 0 calc(50% - 1rem);
  }
}

@media only screen and (max-width: 768px) {
  .input-group {
    flex-direction: column;
    gap: 1rem;
  }

  .predict .container form h1 {
    padding-top: 2rem;
  }

  .medicines-row {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }


  .check-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .checkbox-wrapper-1 {
    flex: 0 0 calc(50% - 1rem);
  }
}

