nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b2430;
    padding: 0.5rem 10rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav .logo img {
    height: 2.5rem;
    width: 2.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-links li {
    list-style: none;
    margin-left: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    background: transparent;
    margin: 0;
    line-height: 1.5;
    vertical-align: middle;
    color: #fff;
    padding: 5px 20px;
    border-radius: 2rem;
    transition: 0.3s ease;
}

.nav-links li a:hover, .nav-links li a.active-link { 
    color: #44C139;
    background: #BDFFBC;
}


.btn-grp button, .mob-btn-grp button {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    color: #fff;
    line-height: 1.5;
    vertical-align: middle;
    padding: 5px 20px;
    border-radius: 2rem;
    transition: 0.3s ease;
    background: #44C139;
    border: .2rem solid #44C139;
    box-shadow: 0 0 1rem #44C139;
    margin-right: 1rem;
    transition: 0.3s ease;
}

.btn-grp button:nth-child(2), .mob-btn-grp button:nth-child(2) {
    margin-right: 0;
}

.btn-grp button:hover {
    box-shadow: none;
}

.mob-btn-grp {
    display: none;
}

.menu-bar {
    display: none;
}

.menu-bar i {
    color: #fff;
}

.menu-bar i {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.mobile-menu {
    display: none;
}

@media only screen and (max-width: 1028px) {
    nav {
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 0.5rem 2rem;
    }

    .nav-links {
        display: none;
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #1b2430;
        width: 0px;
        height: calc(100vh - 40px);
        transition: all 0.3s ease-in;
        overflow: hidden;
        flex-direction: column;
        align-items:flex-start;
        justify-content:flex-start;
      }

      .nav-links li {
        margin-top: 2rem;
        margin-left: 0;
      }
      .nav-links.active {
        display: block;
        width: 270px;
      }

    .menu-bar {
        display: block;
    }

    .btn-grp {
        display: none;
    }

    .mob-btn-grp {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .mob-btn-grp button {
        width: fit-content;
        margin-top: 2rem;
        margin-right: 0;
    }

    .menu-bar i {
        display: block;
    }
}